*.tif
*.TIF
*.shp
*.xml
*.cpg
*.tfw
*.shx
*.prj
output/*
input/*
config/* 
*.dbf
.idea/
06f16f8f15a75572d5cf0c1f9298e222/
52a7efeb0d3700a7fe197cbb3189185d/
Data/Add/
Data/
Lit/
Geemap/examples
Geemap/exported
Geemap/paper
Geemap/src
Geemap/tutorials
Geemap/.ipynb_checkpoints
Geemap/.log


Geemap/

*.rar
venv/bin/__pycache__/

venv/bin/

venv/

Lake_cak-home_Dec-18-072730-2020_Conflict.qgz

test_cak-home_Dec-18-072730-2020_Conflict.py
