*.tif
*.TIF
*.shp
*.xml
*.cpg
*.tfw
*.shx
*.prj
output/*
input/*
config/* 
*.dbf
.idea/
06f16f8f15a75572d5cf0c1f9298e222/
52a7efeb0d3700a7fe197cbb3189185d/
Data/Add/
Data/
Lit/
Geemap/*
venv/*
.SynologyWorkingDirectory/#SynoRecycle/
*.qgz
*.tar.gz
*.tar
*.zip
*Conflict*
